<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conexion-bbdd"
connectionString="Server=localhost;Port=5432;Database=gestorBibliotecaPersonal; User Id=postgres;Password=1234; SearchPath=gbp_almacen " 	
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>


